.shade {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.0;
    background: linear-gradient(to top, #59F, #111);
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}

.shade.open {
    visibility: visible;
    opacity: 0.4;
}

.dialog {
    position: fixed;
    left: 25%;
    right: 25%;
    bottom: 1rem;
    
    padding: 0.5rem;
    background: #111;

    border: 0.25rem solid #59F;
    border-radius: 0.5rem;
    border-left: none;
    border-bottom: none;
    border-top-width: 0.125rem;
    box-shadow: 0 0 1rem #36D;    
}

.dialog.open {
}

.buttons {
    margin-top: 0.5rem;
    text-align: right;
}

.buttons > button {
    background: #444;
    min-width: 5rem;
    margin-left: 0.25rem;
    padding: 0.25rem;
    transition: background 0.2;
    text-align: center;
}

.buttons > button:hover {
    background: #666;
}

.dialog > .sourceCode {
    max-height: 10rem;
    overflow-y: auto;
}