* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: none;
    line-height: 120%;
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    color: #AAA;
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    cursor: default;
}

a, button {
    cursor: pointer;
    color: #FFF;
    touch-action: manipulation;
}

ul, ol {
    padding-left: 1.25rem;
}

h1 {
    color: #FFF;
}

.sourceCode {
    font-size: 80%;
    margin: 0.5rem;
    white-space: pre;
    user-select: text;
    cursor: text;
}