.node {
    /* Prevent the values in a node wrapping under the head block. */
    display: block;
    white-space: nowrap;
}

/* Everything in a node is displayed as a column. */
.node > * {
    display: inline-block;
    vertical-align: top;
}

/* ------------------------------------ */

.head {
    margin: 0.25rem;
    margin-bottom: 0;
}

.value > input {
    margin: 0.25rem;
    margin-bottom: 0;
}

/* ------------------------------------ */

.node {
    border: 0.125rem solid #AAA;
    border-right: none;
    border-bottom: none;
    
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    
    /* Prevent top borders stacking up by pushing the margin out to cause overlap. */
    margin-top: -0.375rem;
    
    /* Create space at the bottom to create some extra space for that overlap. */
    padding-bottom: 0.5rem;
    
    /* Prevent the node's bounds inverting when collapsed. */
    min-height: 1.5rem;
}

.main > * > .node {
    /* The hack to overlap borders causes the graph to intrude into the padding of its container. */
    margin-top: 0.0rem;
}

.node:last-child:first-child {
    padding-bottom: 0;
}

.node:first-child {
    border-top-left-radius: 0.5rem;
}

.node:last-child {
    border-bottom-left-radius: 0.5rem;
}

.graph {
    padding: 0.5rem;
}

.replacing {
    background: linear-gradient(to right, white, transparent);
}

.color-preview {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background: black;
}

/* ------------------------------------ */

.browser {
    border-left: 0.125rem solid #555;
    border-right: 0.125rem solid #555;
    
    /* We're padded in, but need to extend the side bars to the top. */
    margin-top: -0.25rem;
    padding: 0.25rem;
    
    /* Lift the bottom slightly so the darkened bars don't overlap the bar below. */
    margin-bottom: -0.125rem;
}

.browser > .title {
    color: #FFF;
}

.browser > button {
    display: block;
    color: #AAA;
}