<html>
    <head>
        <title>Luminous Composer</title>
        <meta name="viewport" content="width=device-width">
    </head>
    <body ng-app="luminous-composer" ng-controller="editor">
        <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="global.css"></link>
        <link rel="stylesheet" href="layout.css"></link>
        <link rel="stylesheet" href="dialog.css"></link>
        <link rel="stylesheet" href="graph.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
        <script src="https://code.angularjs.org/1.3.14/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.6.1/angular-translate.min.js"></script>
        <script src="module.js"></script>
        <script src="history.js"></script>
        <script src="dialog.js"></script>
        <script src="constructor.js"></script>
        <script src="compiler.js"></script>
        <script src="linker.js"></script>
        <script src="functions.js"></script>
        <script src="editor.js"></script>
        <script src="node.js"></script>
        <script src="operations.js"></script>
        <script src="localization.js"></script>
        <script src="browserItem.js"></script>
        <nav>
            <div>{{'luminousComposer' | translate}}</div>
            <a class="fa fa-cube" ng-class="{active: !tab}" ng-click="tab = null"></a>
            <a class="fa fa-pencil" ng-class="{active: tab == 'edit'}" ng-click="tab = 'edit'"></a>
            <a class="fa fa-code" ng-class="{active: tab == 'code'}" ng-click="tab = 'code'"></a>
            <a class="fa fa-info" ng-class="{active: tab == 'info'}" ng-click="tab = 'info'"></a>
            <hr />
            <button class="fa fa-undo" ng-class="{disabled: !canUndo()}" ng-click="canUndo() && undo()"></button>
            <button class="fa fa-repeat" ng-class="{disabled: !canRedo()}" ng-click="canRedo() && redo()"></button>
            <hr />
            <button class="fa fa-file-o" ng-click="new()"></button>
            <button class="fa fa-folder-o" ng-click="dialog.showDetails('test', 'many details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details\nmany details')"></button>
            <button class="fa fa-floppy-o"></button>
        </nav>
        <!-- main doesn't seem to work under IE11; any styling rules specifying it are ignored. -->
        <div class="main">
            <div ng-if="tab == 'edit'" ng-include="'edit.html'"></div>
            <div ng-if="tab == 'code'" ng-include="'code.html'"></div>
            <div ng-if="tab == 'info'" ng-include="'info.html'"></div>
        </div>
        <div class="shade" ng-class="{open: dialog.message}" ng-click="dialog.close()"></div>
        <div class="dialogContainer" ng-show="dialog.message">
            <div class="dialog" ng-class="{open: dialog.message}">
                <h1>{{dialog.message + 'Title' | translate}}</h1>
                <p>{{dialog.message + 'Message' | translate}}</p>
                <div class="sourceCode" ng-show="dialog.details">{{dialog.details}}</div>
                <div class="buttons" ng-show="dialog.buttons || dialog.message">
                    <button ng-repeat="(label, action) in dialog.buttons" ng-click="action()">{{label | translate}}</button>
                    <button ng-click="dialog.close()">{{(dialog.details ? 'ok' : 'cancel') | translate}}</button>
                </div>
            </div>
        </div>
    </body>
</html>