<h1>Luminous Composer</h1>
<h2>SUNRUSE/James Wild 2015</h2>
<p>
    Built using:
    <ul>
        <li><a href="https://angularjs.org">AngularJS</a>, hosted by Google.</li>
        <li><a href="http://leaverou.github.io/prefixfree/">-prefix-free</a>, hosted by <a href="https://cdnjs.com">CDNJS</a>.</li>
        <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>, hosted by <a href="https://www.maxcdn.com/c/">MaxCDN</a>.</li>
        <li><a href="http://www.paratype.com/public/">PT Sans</a>, hosted by <a href="http://www.google.com/fonts/">Google Fonts</a>.</li>
        <li><a href="http://angular-translate.github.io">angular-translate</a>, hosted by <a href="https://cdnjs.com">CDNJS</a>.</li>
    </ul>
    Please note that the developers and hosts of these tools were not directly involved in the creation of Luminous Composer, and should not be contacted concerning any problems with Luminous Composer.
</p>    