canvas {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Add a frame to any content. */
.main > * {
    border-left: 0.25rem solid #666;
    margin-left: 3.25rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 1rem;
    margin-bottom: 0.75rem;
}

/* The menu bar in the bottom left. */
nav {
    position: fixed;
    left: 0;
    background: #000;
    bottom: 0;
    border-right: 0.25rem solid #35A;
    border-top: 0.125rem solid #35A;
    border-top-right-radius: 0.375rem;
    width: 2.25rem;
    box-shadow: 0.5rem 0 2rem #000;
    vertical-align: bottom;
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;    
}

nav > a, nav > button {
    float: left;
    clear: both;
    color: #AAA;
    padding: 0.375rem;
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
    width: 2.25rem;
    text-align: center;
    border-right: 0.25rem solid #35A;
    transition: color 0.5s, margin 0.2s, padding 0.2s, text-shadow 0.5s, border-right-color 0.25s;
}

nav > a.active {
    color: white;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background: #222;
    text-shadow: 0 0 0.5rem #FFF;
    border-right-color: #59F;
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;    
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;    
}

nav > button:not(.disabled):hover, nav > a:not(.disabled):hover {
    color: #FFF;
}

nav > .disabled {
    color: #333;
    cursor: default;
}

nav > hr {
    float: left;
    clear: both;
    background: #333;
    margin-left: 0.375rem;
    width: 1.5rem;
    height: 0.125rem;
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;    
}

/* The sidebar text. */
nav > div {
    float: left;
    transform: rotate(-90deg);
    height: 0;
    white-space: nowrap;
    transform-origin: bottom left;
    padding-left: 1rem;
    line-height: 2.25rem;
    text-shadow: 0 0 0.5rem #000;
}