<div>
    <button class="fa fa-minus" ng-if="node.arrayItem" ng-click="remove()"></button>
    <button class="fa fa-refresh" ng-if="!(node.fields || node.items)" ng-click="replace()"></button>
    {{node.type}}
    <button class="fa fa-folder" ng-click="node.collapsed = false" ng-if="node.fields || node.items" ng-show="node.collapsed"></button>
    <button class="fa fa-folder-open" ng-click="node.collapsed = true" ng-if="node.fields || node.items" ng-hide="node.collapsed"></button>
    <div ng-if="node.fields || node.items" ng-hide="node.collapsed">
        <button class="fa fa-refresh" ng-click="replace()"></button>
        <button class="fa fa-plus" ng-if="node.items" ng-click="add()"></button>
    </div>
</div>
<div ng-if="browserTitle()" ng-hide="node.collapsed" class="browser">
    <div class="title">{{browserTitle() | translate}}</div>
    <button ng-repeat="option in browser.options" ng-controller="browserItem" ng-show="available()" ng-click="use()">{{option | translate}}</button>
</div>
<div ng-hide="node.collapsed">
    <div ng-repeat="node in node.fields || node.items" ng-include="'node.html'" class="node" ng-controller="node"></div>
    <input type="number" step="any" ng-model="node.value" ng-if="node.type == 'float'" ng-blur="persist()"></input>
</div>